.check-visa-requirement-page {
  padding: 0 20px;
}
.country-content {
  padding: 70px 0;
  word-break: break-word;
  p {
    margin-bottom: 20px;
  }
  ol {
    li {
      margin-bottom: 15px;
    }
  }
}
