@import "~styles/colors";

.review-page {
  width: 80%;
  margin-left: 10%;
  .items-container {
    .col {
      margin-bottom: 20px;
      .review {
        height: 100%;
        align-items: flex-start;
      }
    }
  }
  .page-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
    .filters {
      display: flex;
      align-items: center;
      width: 70%;
      .form-group {
        .form-select {
          width: 200px;
          margin-right: 20px;
        }
      }
    }
    .sort-buttons {
      display: flex;
      button {
        margin-right: 15px;
        display: flex;
        align-items: center;
      }
    }
    .layout-switcher {
      display: flex;
      align-items: center;
    }
    .toggle-view {
      .toggle-button {
        display: inline-block;
        button {
          padding: 8px 8px;
          background: none;
          border: none;
          color: $color2;
          margin-left: 15px;
          box-shadow: none;
          i {
            font-size: 15px;
          }
        }
        &.active {
          button {
            background-color: $color2;
            color: #ffffff;
          }
        }
      }
    }
    @media (max-width: 767px) {
      .layout-switcher {
        display: none;
      }
    }
    @media (max-width: 576px) {
      display: block;
      text-align: center;
      .filters {
        width: 100%;
        display: block;
        .form-group {
          .form-select {
            width: 100%;
          }
        }
        .sort-button {
          margin: 15px 0;
        }
      }
    }
  }
}
