.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #686868;
  display: flex;
  align-items: center;
  align-content: center;
  box-shadow: 0 0 30px 5px #00000026;
  display: none;
  z-index: 100;
  &.show-modal {
    display: flex;
  }
  &.modal-transparent {
    background: transparent;
  }
  .modal-content {
    max-width: 1200px;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    position: relative;
    overflow-x: scroll;
    .mobile-modal-close {
      display: none;
      @media (max-width: 768px) {
        display: block;
        text-align: right;
        button {
          background: none;
          font-size: 22px;
          color: #8c8888;
          border: 2px solid;
          margin: 15px;
          border-radius: 50%;
        }
      }
    }
  }
  .modal-close {
    position: fixed;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    font-size: 35px;
    color: #ffffff;
  }
}
