@import "~styles/colors";

.course-list-item {
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  .featured-image {
    flex: 0 0 30%;
    margin-bottom: -4px;
  }
  .course-content {
    padding: 0 30px;
    flex: 0 0 70%;
    .button-group {
      margin: 10px 0;
      button {
        background: #f1a941;
        border: none;
        padding: 5px;
        border-radius: 5px;
        margin: 0 5px;
        i {
          color: #ffffff;
        }
        &.active {
          background: #00a0ba;
          i {
            color: #ffffff;
          }
        }
      }
    }
    .course-duration {
      color: #bebebe;
      font-size: 13px;
      margin-bottom: 15px;
    }
    .detail-block {
      align-items: center;
      align-content: center;
    }
    .course-title {
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 15px;
      margin-bottom: 15px;
    }
    .location-title {
      font-size: 15px;
    }
    .course-description {
      font-size: 13px;
    }
    .ratings {
      margin: 15px 0;
      .rate-star {
        i {
          font-size: 15px;
        }
      }
      span {
        font-size: 12px;
      }
    }
    .course-cta {
      text-align: center;
      .price {
        font-size: 15px;
        margin-bottom: 10px;
        span {
          display: block;
          font-size: 22px;
          margin: 5px 0;
          font-weight: 500;
          color: $color2;
        }
      }
      .old-price {
        text-decoration: line-through;
        color: #edae1f !important;
      }
    }
  }
  @media (max-width: 768px) {
    display: block;
    .featured-image {
      text-align: center;
      width: 100%;
    }
    .course-content {
      margin-top: 20px;
      .detail-block {
        text-align: center;
        .ratings {
          display: block;
        }
      }
    }
  }
}
