.review {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  margin-bottom: 25px;
  .reviewer {
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin-right: 35px;
    img {
      width: 100%;
      display: block;
    }
  }
  .ratings {
    span {
      margin: 0 20px 0 0;
      color: #00a1b6;
      font-weight: 900;
    }
  }
  .review-content {
    p {
      color: #2d2d2d;
      font-size: 14px;
      margin-top: 10px;
    }
  }
  @media (max-width: 768px) {
    display: block;
    text-align: center;
    min-width: 240px;
    margin-right: 20px;
    .reviewer {
      margin: 0 auto;
    }
    .ratings {
      display: block;
      span {
        display: block;
        margin: 10px auto;
      }
    }
  }
}
