.course {
  margin-bottom: 40px;
  a {
    text-decoration: none;
    color: initial;
  }
  .featured-image {
    position: relative;
    img {
      width: 100%;
      display: block;
    }
    .hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      opacity: 0;
      background: rgba(0, 160, 186, 0.5);
      div {
        text-align: center;
        width: 100%;
      }
      .button-group {
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: right;
      }
    }
  }
  @media (min-width: 768px) {
    &:hover {
      .featured-image {
        .hover {
          opacity: 1;
        }
      }
    }
  }
  .button-group {
    button {
      background: #f1a941;
      border: none;
      padding: 5px;
      border-radius: 5px;
      margin: 0 5px;
      i {
        color: #ffffff;
      }
      &.active {
        background: #ffffff;
        i {
          color: #f1a941;
        }
      }
    }
  }
  .course-content {
    & > div {
      margin-bottom: 10px;
    }
    font-size: 14px;
    padding: 15px;
    .course-title {
      font-weight: 900;
      min-height: 32px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .course-duration {
      font-size: 12px;
    }
    .ratings {
      margin: 15px 0;
      .star-rate {
        min-width: 110px;
        .rate-star {
          i {
            font-size: 15px;
          }
        }
      }
      span {
        font-size: 12px;
      }
    }
    .price {
      display: block;
      text-align: right;
    }
    .discounted-price {
      display: flex;
      justify-content: flex-end;
      .old-price {
        text-decoration: line-through;
        color: #edae1f;
      }
    }
  }
  .course-actions {
    text-align: center;
    margin-top: 15px;
    .button-group {
      margin-bottom: 15px;
    }
  }
  @media (min-width: 768px) {
    .course-actions {
      display: none;
    }
  }
}
