@charset "UTF-8";

@font-face {
  font-family: "Tambook";
  src: url("fonts/tambook.eot");
  src: url("fonts/tambook.eot?#iefix") format("embedded-opentype"),
    url("fonts/tambook.woff") format("woff"),
    url("fonts/tambook.ttf") format("truetype"),
    url("fonts/tambook.svg#tambook") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[data-icon]:before {
  content: attr(data-icon);
}

.icon {
  font-family: "Tambook";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.icon-person-outline:before {
  content: "\61";
}
.icon-female:before {
  content: "\62";
}
.icon-dollar:before {
  content: "\63";
}
.icon-people-outline:before {
  content: "\64";
}
.icon-alarm-clock:before {
  content: "\65";
}
.icon-coins:before {
  content: "\66";
}
.icon-exchange-alt:before {
  content: "\67";
}
.icon-bookmark:before {
  content: "\68";
}
.icon-times:before {
  content: "\69";
}
.icon-search:before {
  content: "\6b";
}
.icon-chevron-left:before {
  content: "\6c";
}
.icon-exclamation-circle:before {
  content: "\6d";
}
.icon-facebook:before {
  content: "\6e";
}
.icon-google:before {
  content: "\6f";
}
.icon-arrow-right:before {
  content: "\70";
}
.icon-calendar-alt:before {
  content: "\71";
}
.icon-chevron-right:before {
  content: "\72";
}
.icon-th-large:before {
  content: "\74";
}
.icon-check:before {
  content: "\77";
}
.icon-bars:before {
  content: "\6a";
}
.icon-sort-up:before {
  content: "\73";
}
.icon-sort-down:before {
  content: "\75";
}
.icon-sort:before {
  content: "\78";
}
.icon-times-circle:before {
  content: "\76";
}
.icon-outdent:before {
  content: "\79";
}
.icon-filter:before {
  content: "\7a";
}
.icon-envelope:before {
  content: "\41";
}
.icon-map-marker-alt:before {
  content: "\42";
}
.icon-angle-left:before {
  content: "\43";
}
.icon-angle-right:before {
  content: "\44";
}
.icon-linkedin-alt:before {
  content: "\45";
}
.icon-instagram:before {
  content: "\46";
}
.icon-user-secret:before {
  content: "\47";
}
.icon-graduation-cap:before {
  content: "\48";
}
.icon-compass:before {
  content: "\49";
}
.icon-clock-o:before {
  content: "\4a";
}
.icon-file-text:before {
  content: "\4b";
}
.icon-star:before {
  content: "\4c";
}
.icon-chevron-up:before {
  content: "\4d";
}
.icon-chevron-down:before {
  content: "\4e";
}
.icon-twitter:before {
  content: "\50";
}
