.blog {
  margin: 0 10px 40px;
  a {
    text-decoration: none;
    color: initial;
  }
  .featured-image {
    position: relative;
    img {
      display: block;
    }
    .hover {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 160, 186, 0.5);
      display: flex;
      align-items: center;
      button {
        background: #f1a941;
        border: none;
        padding: 5px;
        border-radius: 5px;
        margin: 0 5px;
      }
      div {
        text-align: center;
        width: 100%;
      }
    }
  }
  &:hover {
    .featured-image {
      .hover {
        opacity: 1;
      }
    }
  }
  .blog-content {
    & > div {
      margin-bottom: 10px;
    }
    font-size: 14px;
    padding: 20px;
    .blog-title {
      font-weight: 900;
      min-height: 32px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .blog-active-date {
      font-size: 12px;
      margin: 5px 0px;
      color: #9e9d9d;
    }
    .blog-description {
      font-size: 12px;
    }
  }
}
