.form-group {
  .form-select {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    min-width: 100px;
    cursor: pointer;
    .selected-dropdown {
      padding: 10px;
      border: 1px solid #f8f8f8;
      background: #f8f8f8;
    }
    i {
      color: #000000;
    }
    .placeholder {
      font-size: 13px;
      color: #000000;
    }
    .dropdown-container {
      position: absolute;
      z-index: 999;
      background: #f8f8f8;
      width: 100%;
      left: 0;
      .dropdown {
        list-style: none;
        max-height: 200px;
        overflow-y: scroll;
        padding: 0;
        margin: 0;
        border: 1px solid #f8f8f8;
        display: none;
        width: 100%;
        text-align: left;
        li {
          padding: 10px;
          &.search-input {
            padding: 0;
            position: relative;
            i {
              position: absolute;
              left: 10px;
              top: calc(50% - 7px);
              font-size: 14px;
              color: #ababab;
            }
            input {
              padding: 10px 10px 10px 30px;
              width: 100%;
            }
          }
        }
      }
    }
    &.dropdown-open {
      .selected-dropdown {
        border-bottom-color: transparent;
      }
      .dropdown {
        border-top-color: transparent;
        display: block;
      }
    }
  }
  .form-errors {
    list-style: none;
    text-align: left;
    font-size: 12px;
    padding: 10px 0 0;
    li {
      padding-bottom: 10px;
      color: #cc6363;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
