.user-preferences {
  padding: 90px;
  .heading {
    color: #757575;
    letter-spacing: 1px;
    line-height: 2;
    margin-bottom: 35px;
  }
  .settings-block {
    margin-bottom: 25px;
  }
  .form-block {
    margin-bottom: 35px;
    label {
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 1px;
      padding-bottom: 5px;
      padding-bottom: 10px;
      display: block;
    }
  }
  .notice {
    margin-top: 10px;
    font-size: 12px;
  }
  @media (max-width: 768px) {
    padding: 30px;
    padding-top: 0;
    .settings-block {
      .col {
        margin-bottom: 20px;
      }
    }
  }
}
