.homestay-group {
  margin-bottom: 15px;
  .homestay {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 15px;
    .homestay-image {
      flex: 0 0 30%;
    }
    .homestay-details {
      flex: 0 0 70%;
      padding-left: 20px;
      font-size: 13px;
      font-weight: 500;
      .homestay-price {
        margin-bottom: 10px;
      }
      .homestay-title {
        font-size: 15px;
        font-weight: 900;
        margin-bottom: 10px;
      }
    }
  }
}
