@import "~styles/colors";
.course-filter {
  .filter-sidebar {
    @media (max-width: 768px) {
      position: fixed;
      background: #00000047;
      width: 100%;
      top: 0;
      height: 100%;
      z-index: 1;
      left: 0;
      padding: 0;
      transform: translateX(-100%);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      max-width: 100%;
      .sidebar {
        width: 320px;
        background: #fff;
        padding: 20px;
        height: 100vh;
        overflow-x: scroll;
        transform: translateX(-100%);
      }
      &.open {
        transform: translateX(0);
        opacity: 1;
        .sidebar {
          transition: all 0.5s ease-in-out;
          transform: translateX(0);
        }
      }
    }
  }
  .sidebar {
    padding-right: 35px;
    .widget {
      .form-input {
        input[type="text"] {
          background-color: #f8f8f8;
          border-radius: 3px;
        }
        i {
          color: #b7b7b7;
        }
      }
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 2px solid #f8f8f8;
      &:last-child {
        border-color: transparent;
      }
      &.search-widget {
        i {
          top: 13px;
          left: 15px;
        }
        input {
          background: #f8f8f8;
          padding: 15px 10px 15px 50px;
        }
      }
      .filter-list {
        list-style: none;
        padding: 0;
        text-transform: uppercase;
        font-size: 12px;
        .filter-title {
          color: #222222;
          margin-bottom: 15px;
          font-weight: 900;
          letter-spacing: 1px;
          text-decoration: none;
          display: block;
        }
        .filter-group {
          ul {
            list-style: none;
            padding: 0;
            li {
              margin-bottom: 15px;
              .checkbox-container {
                float: left;
              }
              .filter-text {
                line-height: 20px;
                margin-left: 10px;
              }
              span {
                &.count {
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
      &.price-filter {
        .price-range {
          display: flex;
          margin: 20px 0 20px;
          font-size: 12px;
          font-weight: 900;
          justify-content: space-between;
        }
        .price-slider {
          padding: 0 10px;
          margin-top: 40px;
          .rc-slider-track {
            background-color: $color2;
          }
          .rc-slider-handle {
            border-color: $color2;
          }
        }
      }
      &.ratings-filter {
        .rating {
          display: flex;
          margin-bottom: 10px;
        }
      }
    }
    .advance-filters {
      .form-group {
        label {
          display: block;
          letter-spacing: 1px;
          font-size: 12px;
          font-weight: 900;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
        margin-bottom: 25px;
      }
    }
  }
  .filter-toggle {
    position: fixed;
    bottom: 20px;
    z-index: 1;
    background: #f3bb37;
    padding: 13px 15px;
    font-size: 15px;
    border-radius: 50%;
    border: none;
    left: 20px;
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
  & > .container {
    padding: 0 20px;
  }
  .items-container {
    width: 100%;
    .row {
      .col {
        @media (max-width: 576px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }
  .page-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 13px;
    color: #999999;
    font-weight: 500;
    .sort-buttons {
      button {
        margin-right: 15px;
      }
    }
    .layout-switcher {
      display: flex;
      align-items: center;
      .label {
        @media (max-width: 576px) {
          display: none;
        }
      }
    }

    .toggle-view {
      .toggle-button {
        display: inline-block;
        button {
          padding: 8px 8px;
          background: none;
          border: none;
          color: $color2;
          margin-left: 15px;
          box-shadow: none;
          i {
            font-size: 15px;
          }
        }
        &.active {
          button {
            background-color: $color2;
            color: #ffffff;
          }
        }
      }
    }
  }
}
