@import "~styles/colors";

.page-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 13px;
  color: #999999;
  font-weight: 500;
  width: 100%;
  .sort-buttons {
    display: flex;
    button {
      margin-right: 15px;
      display: flex;
      align-items: center;
    }
  }
  .layout-switcher {
    display: flex;
    align-items: center;
  }
  .toggle-view {
    .toggle-button {
      display: inline-block;
      button {
        padding: 8px 8px;
        background: none;
        border: none;
        color: $color2;
        margin-left: 15px;
        box-shadow: none;
        i {
          font-size: 15px;
        }
      }
      &.active {
        button {
          background-color: $color2;
          color: #ffffff;
        }
      }
    }
  }
  @media (max-width: 576px) {
    display: block !important;
    margin-bottom: 20px !important;
    .layout-switcher {
      width: 100%;
      margin-bottom: 15px;
      justify-content: center;
      .toggle-view {
        margin: 0 auto;
        button {
          display: block;
          padding: 10px 0;
          margin-right: 15px;
        }
      }
    }
  }
}
