@import "~styles/colors";

.profile-page {
  background-color: #f8f8f8;
  padding: 0 0 100px;
  min-height: calc(100vh - 480px);
  .header-menu {
    text-align: center;
    margin-bottom: 70px;
    ul {
      list-style: none;
      background-color: #ffffff;
      padding: 20px 50px;
      border-radius: 10px;
      box-shadow: 0 0 5px #e6e6e6;
      display: inline-block;
      li {
        display: inline-block;
        padding: 0 20px;

        a {
          color: #9e9d9d;
          text-decoration: none;
          font-weight: 500;
          padding-bottom: 6px;
        }
        &.active {
          a {
            color: $color2;
            font-weight: 900;
          }
        }
      }
    }
  }
  .bookings {
    .course-booking {
      .course-booking-header {
        padding-bottom: 20px;
        .row {
          background: #fff;
          padding: 20px 0;
          border-radius: 5px;
          box-shadow: 0 0 5px #ececec;
          border-bottom: 4px solid $color1;
          font-weight: 500;
        }
      }
      .course-booking-row {
        background: #ffffff;
        margin-bottom: 15px;
        padding: 20px 0 15px;
        border-radius: 5px;
        box-shadow: 0 0 5px #ececec;
        align-items: center;
      }
    }
  }
  .tabs {
    .nav-tabs {
      .nav-item {
        .nav-link {
          cursor: pointer;
          border-color: transparent;
          border-top-width: 3px;
          &.active {
            border-left-color: #eaeaea;
            border-right-color: #eaeaea;
            border-top-color: $color2;
            background: #fff;
          }
        }
      }
    }
    .tab-content {
      .tab-pane {
        &.active {
          background-color: #fff;
          &::before {
            content: "";
            height: 2px;
          }
        }
      }
    }
  }
  .profile-content {
    padding: 0 20px;
  }
  @media (max-width: 768px) {
    .header-menu {
      ul {
        li {
          width: 100%;
          padding: 10px 0;
        }
      }
    }
    .bookings {
      .course-booking {
        .course-booking-body,
        .course-booking-header {
          .row {
            .col {
              text-align: center;
              padding: 10px 0;
            }
          }
        }
      }
    }
  }
}
.user-information {
  background-color: #ffffff;
  padding: 50px 20px;
  .user-details {
    padding: 20px;
    line-height: 2;
    .name {
      color: $color2;
      font-size: 25px;
      font-weight: 500;
    }
    .form-input {
      input {
        border: 1px solid #e6e6e6;
      }
    }
    .react-tel-input {
      input {
        width: 100%;
      }
    }
    .date-of-birth {
      .form-select {
        min-width: auto;
        display: inline-block;
        .selected-dropdown {
          span {
            padding: 0 10px;
          }
        }
      }
    }
    .row {
      margin-bottom: 15px;
    }
  }
  .update-profile {
    margin-top: 10px;
  }
}
.payment-method {
  .card {
    position: relative;
    margin: auto;
    max-width: 400px;
    color: #fff;
    background: #242424;
    border: 1px solid #242424;
    border-radius: 10px;
    background-clip: padding-box;
    overflow: hidden;
    padding: 30px;
    .chip {
      position: relative;
      width: 50px;
      height: 40px;
      margin-bottom: 20px;
      background: linear-gradient(135deg, #ffffff 0%, #bbbbbb 100%);
      border: 1px solid #322d28;
      border-radius: 10px;
      background-clip: padding-box;
      overflow: hidden;
      .side {
        position: absolute;
        top: 8px;
        width: 12px;
        height: 24px;
        border: 1px solid #322d28;
        box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
          0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1),
          0 0 4px rgba(0, 0, 0, 0.1) inset;
      }
      .side.left {
        left: 0;
        border-left: none;
        border-radius: 0 2px 2px 0;
        background-clip: padding-box;
      }
      .side.right {
        right: 0;
        border-right: none;
        border-radius: 2px 0 0 2px;
        background-clip: padding-box;
      }
      .side:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: inline-block;
        width: 100%;
        height: 0px;
        margin: auto;
        border-top: 1px solid #322d28;
        box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
          0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1);
      }
      .vertical {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 8.66666667px;
        height: 12px;
        border: 1px solid #322d28;
        box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
          0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1),
          0 0 4px rgba(0, 0, 0, 0.1) inset;
        &:after {
          content: "";
          position: absolute;
          left: -8.66666667px;
          display: inline-block;
          width: 26px;
          height: 0px;
          margin: 0;
          border-top: 1px solid #322d28;
          box-shadow: 0 0 5px rgba(136, 136, 136, 0.25) inset,
            0 0 5px rgba(134, 134, 134, 0.25), 0 0 4px rgba(0, 0, 0, 0.1);
        }
        &.top {
          top: 0;
          border-top: none;
          &:after {
            top: 12px;
            width: 17.33333333px;
          }
        }
        .top .vertical.bottom {
          bottom: 0;
          border-bottom: none;
        }
      }
      .vertical.bottom:after {
        bottom: 12px;
      }
    }
  }

  .data {
    position: relative;
    z-index: 100;
    text-transform: uppercase;
  }
  .data .pan,
  .data .month,
  .data .year,
  .data .year:before,
  .data .name-on-card,
  .data .date {
    position: relative;
    z-index: 20;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #000;
  }
  .data .pan:before,
  .data .month:before,
  .data .year:before,
  .data .year:before:before,
  .data .name-on-card:before,
  .data .date:before,
  .data .pan:after,
  .data .month:after,
  .data .year:after,
  .data .year:before:after,
  .data .name-on-card:after,
  .data .date:after {
    position: absolute;
    z-index: -10;
    content: attr(title);
    color: rgba(0, 0, 0, 0.2);
    text-shadow: none;
  }
  .data .pan:before,
  .data .month:before,
  .data .year:before,
  .data .year:before:before,
  .data .name-on-card:before,
  .data .date:before {
    top: -1px;
    left: -1px;
    color: rgba(0, 0, 0, 0.1);
  }
  .data .pan:after,
  .data .month:after,
  .data .year:after,
  .data .year:before:after,
  .data .name-on-card:after,
  .data .date:after {
    top: 1px;
    left: 1px;
    z-index: 10;
  }
  .data .pan {
    position: relative;
    z-index: 50;
    margin: 0;
    letter-spacing: 1px;
    font-size: 26px;
  }
  .data .first-digits {
    margin: 0;
  }
  .data .exp-date-wrapper {
    margin-top: 15px;
    line-height: 1;
    font-size: 12px;
  }
  .data .exp-date-wrapper:before,
  .data .exp-date-wrapper:after {
    content: " ";
    display: table;
  }
  .data .exp-date-wrapper:after {
    clear: both;
  }
  .data .exp-date-wrapper .left-label {
    float: left;
    display: inline-block;
    letter-spacing: 0.5px;
  }
  .data .exp-date-wrapper .exp-date {
    display: inline-block;
    float: left;
    margin-left: 10px;
    text-align: center;
  }
  .data .exp-date-wrapper .exp-date .year:before {
    content: "/";
  }
  .data .name-on-card {
    margin-top: 20px;
  }
  .lines-up:before {
    content: "";
    position: absolute;
    top: -110px;
    left: -70px;
    z-index: 2;
    width: 480px;
    height: 300px;
    border-bottom: 2px solid #0e0d0d;
    border-radius: 0 0 60% 90%;
    background-clip: padding-box;
    box-shadow: inset 1px 1px 44px #484848;
    background: #3c3a3a;
    background: radial-gradient(
      ellipse at center,
      rgba(64, 49, 178, 0) 44%,
      #3c3a3a 100%
    );
  }
}

.notifications {
  .notifications-body {
    background: #ffffff;
    padding: 40px 50px 20px;
  }
  .notifications-header {
    margin-bottom: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .alert {
    font-size: 14px;
  }
}

.notification-settings {
  background: #ffffff;
  padding: 40px 50px 20px;
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    .action-buttons {
      button {
        margin-left: 20px;
      }
      .btn-outline {
        border: 2px solid #00a0ba;
      }
    }
  }
  .notification-body {
    .number-line {
      width: 100%;
      height: 1px;
      background-color: rgb(26, 25, 25);
      margin-top: 20px;
    }
    .notifications-type {
      font-weight: 500;
      padding: 20px 0px;
    }
  }
  @media (max-width: 576px) {
    .button-container {
      display: block;
      margin-bottom: 20px;
      .back-button {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }
      .action-buttons {
        display: flex;
        justify-content: space-between;
        button {
          margin: 0;
        }
      }
    }
  }
}
.notifications {
  .notifications-body {
    .alert {
      span {
        display: block;
        line-height: 2;
        font-weight: 700;
        font-size: 12px;
        @media (min-width: 740px) {
          float: right;
        }
      }
    }
  }
}
