$size: 120px;
.review-card {
  flex: 1;
  flex-basis: 0;
  padding: 90px 10px 20px;
  .review-card-container {
    background: #ffffff;
    .card-image {
      .course-title {
        padding: 10px 20px;
        background-color: #ffffff;
        font-weight: 900;
        border-radius: 5px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
      }
    }
    .card-body {
      text-align: center;
      min-height: 330px;
      .reviewer-image {
        width: $size;
        height: $size;
        margin: -(($size/2)+30) auto 0;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid #fff;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .reviewer-rating {
        margin: 10px 0;
      }
      .reviewer-name {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 5px;
      }
      .country-name {
        font-size: 12px;
        margin-bottom: 15px;
        color: #7b7b7b;
        font-weight: 500;
      }
      .review-comment {
        font-size: 12px;
        color: #bebebe;
      }
    }
  }
}
