.accordion {
  .accordion-item {
    margin-bottom: 25px;
    .card-header {
      background-color: #00a0ba;
      color: #ffffff;
      padding: 20px 0 20px 100px;
      font-weight: 900;
      position: relative;
      cursor: pointer;
      .toggler {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px 30px;
        .icon {
          position: relative;
          width: 15px;
          height: 15px;
          display: inline-block;
          &:before {
            width: 15px;
            height: 3px;
            top: 6px;
          }
          &:after {
            margin-left: 6px;
            width: 3px;
            height: 15px;
          }
          &:before,
          &:after {
            content: "";
            position: absolute;
            background: #ffffff;
            display: inline-block;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
        }
      }
      a {
        display: block;
        color: inherit;
      }
    }
    .card-body {
      position: relative;
      height: 0;
      overflow: hidden;
      transition: height 0.35s ease;
      white-space: pre-line;
      .content {
        padding: 50px 50px 50px 80px;
      }
    }
    &.active {
      .card-header {
        .toggler {
          background-color: #f8f8f8;
          .icon {
            &:after,
            &::before {
              background-color: #00a0ba;
            }
            &:after {
              margin-top: 6px;
              width: 3px;
              height: 3px;
            }
          }
        }
      }
      .card-body {
        background-color: #f8f8f8;
        height: auto;
      }
    }
  }
}
