.payment-page {
  padding: 20px 0 50px;
  .checkout {
    max-width: 550px;
    margin: auto;
    .card {
      position: relative;
      color: #fff;
      background: #242424;
      border: 1px solid #242424;
      border-radius: 10px;
      background-clip: padding-box;
      overflow: hidden;
      padding: 40px;
      .card-container {
        padding: 50px 0;
        z-index: 100;
        position: relative;
      }
      .chip {
        position: relative;
        width: 50px;
        height: 40px;
        margin-bottom: 20px;
        background: linear-gradient(135deg, #ffffff 0%, #bbbbbb 100%);
        border: 1px solid #322d28;
        border-radius: 10px;
        background-clip: padding-box;
        overflow: hidden;
        .side {
          position: absolute;
          top: 8px;
          width: 12px;
          height: 24px;
          border: 1px solid #322d28;
          box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
            0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1),
            0 0 4px rgba(0, 0, 0, 0.1) inset;
        }
        .side.left {
          left: 0;
          border-left: none;
          border-radius: 0 2px 2px 0;
          background-clip: padding-box;
        }
        .side.right {
          right: 0;
          border-right: none;
          border-radius: 2px 0 0 2px;
          background-clip: padding-box;
        }
        .side:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          display: inline-block;
          width: 100%;
          height: 0px;
          margin: auto;
          border-top: 1px solid #322d28;
          box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
            0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1);
        }
        .vertical {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 8.66666667px;
          height: 12px;
          border: 1px solid #322d28;
          box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
            0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1),
            0 0 4px rgba(0, 0, 0, 0.1) inset;
          &:after {
            content: "";
            position: absolute;
            left: -8.66666667px;
            display: inline-block;
            width: 26px;
            height: 0px;
            margin: 0;
            border-top: 1px solid #322d28;
            box-shadow: 0 0 5px rgba(136, 136, 136, 0.25) inset,
              0 0 5px rgba(134, 134, 134, 0.25), 0 0 4px rgba(0, 0, 0, 0.1);
          }
          &.top {
            top: 0;
            border-top: none;
            &:after {
              top: 12px;
              width: 17.33333333px;
            }
          }
          .top .vertical.bottom {
            bottom: 0;
            border-bottom: none;
          }
        }
        .vertical.bottom:after {
          bottom: 12px;
        }
      }
      .lines-up:before {
        content: "";
        position: absolute;
        top: -110px;
        left: -70px;
        z-index: 2;
        width: 480px;
        height: 300px;
        border-bottom: 2px solid #0e0d0d;
        border-radius: 0 0 60% 90%;
        background-clip: padding-box;
        -webkit-box-shadow: inset 1px 1px 44px #484848;
        box-shadow: inset 1px 1px 44px #484848;
        background: #3c3a3a;
        background: -webkit-radial-gradient(
          center,
          ellipse,
          rgba(64, 49, 178, 0) 44%,
          #3c3a3a 100%
        );
        background: -o-radial-gradient(
          center,
          ellipse,
          rgba(64, 49, 178, 0) 44%,
          #3c3a3a 100%
        );
        background: radial-gradient(
          ellipse at center,
          rgba(64, 49, 178, 0) 44%,
          #3c3a3a 100%
        );
      }
      .error {
        color: #9c9c9c;
        margin-bottom: 20px;
      }
    }
    .powered-by {
      margin-top: 20px;
    }
    button {
      border: none;
      background: #303030;
      padding: 15px 30px;
      border-radius: 5px;
      margin-top: 20px;
      color: #fff;
      font-weight: 500;
      letter-spacing: 3px;
      width: 100%;
    }
  }
}

.payment-success {
  .alert {
    margin-bottom: 50px;
  }
}
