.agent-page {
  background-color: #f8f8f8;
  padding: 0 0 100px;
  .header-menu {
    text-align: center;
    margin-bottom: 70px;
    ul {
      list-style: none;
      background-color: #ffffff;
      padding: 20px 50px;
      border-radius: 10px;
      box-shadow: 0 0 5px #e6e6e6;
      display: inline-block;
      li {
        display: inline-block;
        padding: 0 20px;
        @media (max-width: 600px) {
          width: 100%;
          margin-bottom: 10px;
        }
        a {
          color: #9e9d9d;
          text-decoration: none;
          font-weight: 500;
          padding-bottom: 6px;
        }
        &.active a {
          color: #00a0ba;
          font-weight: 900;
        }
      }
    }
  }
}

.agent-information {
  background-color: #ffffff;
  padding: 50px;
  padding-right: 100px;
  padding-left: 100px;
  .user-edit-details {
    padding: 20px;
    line-height: 2;
    .name {
      color: #00a0ba;
      font-size: 25px;
      font-weight: 500;
    }
    .form-input input {
      border: 1px solid #e6e6e6;
    }
    .date-of-birth .form-select {
      min-width: auto;
      display: inline-block;
      .selected-dropdown span {
        padding: 0 10px;
      }
    }
    .row {
      margin-bottom: 15px;
      .col .helper {
        font-size: 12px;
        line-height: 10px;
        color: #afaeae;
        font-weight: 400;
      }
    }
  }
  .update-profile {
    margin-top: 10px;
  }
  .user-details {
    padding: 20px;
    .name {
      color: #00a0ba;
      font-size: 25px;
      font-weight: 500;
    }
    .form-input {
      input {
        background-color: #f8f8f8;
        margin-top: 10px;
        border: none;
        width: 100%;
        border-radius: 0;
      }
      address {
        background-color: #ffffff;
        border: #0e0d0d;
        margin-top: 10px;
      }
    }
    .section {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    .btn {
      margin-left: 5px;
      float: right;
    }
    .btn-outline {
      background: none;
      border: 2px solid #00a0ba;
      color: #00a0ba;
    }
    .form-select {
      margin-top: 10px;
    }
    .row {
      margin-bottom: 15px;
    }
  }
  .update-profile {
    margin-top: 10px;
  }
  .user-details {
    .dropdown {
      background-color: #f8f8f8;
      border: 0px solid #00a0ba;
    }
    .tel-input-dropdown {
      margin-top: 10px;
      .form-errors {
        list-style: none;
        text-align: left;
        font-size: 12px;
        padding: 10px 0 0;
        li {
          padding-bottom: 10px;
          color: #cc6363;
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

.dashboard-card {
  background-color: #ffffff;
  color: #000000;
  border-radius: 3px;
  overflow: hidden;
  height: 100%;
  .card-image {
    min-height: 180px;
    padding: 10px;
    position: relative;
    .location {
      position: absolute;
      bottom: 5px;
      right: 10px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 900;
      span {
        font-size: 15px;
      }
    }
    .price {
      color: #fff;
      border-radius: 5px;
      display: inline-block;
      background: rgba(0, 0, 0, 0.4);
      padding: 10px;
      font-size: 12px;
    }
    .is-eligible {
      color: #fff;
      border-radius: 5px;
      display: inline-block;
      padding: 6px 20px;
      background-color: #edae1f;
      float: right;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 10px;
      text-align: center;
    }
  }
  .card-body {
    padding: 30px 20px 25px;
    i {
      display: inline-block;
      margin-right: 15px;
      font-size: 35px;
      text-align: center;
      align-content: center;
      padding: 15px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      height: 65px;
      margin-right: -15px;
      margin-left: -15px;
      padding-bottom: 0px;
      margin-bottom: 10px;
      &.eq-height .col {
        flex: 1;
      }
    }
    .col-1 {
      flex: 0 0 8.33%;
    }
    &.col-2 {
      flex: 0 0 16.66%;
    }
    .col-3 {
      flex: 0 0 24.99%;
    }
    .col-4 {
      flex: 0 0 33.32%;
      padding-left: 20px;
    }
    .col-5 {
      flex: 0 0 41.65%;
    }
    .col-6 {
      flex: 0 0 50%;
    }
    .col-7 {
      flex: 0 0 58.33%;
    }
    .col-8 {
      flex: 0 0 66.66%;
      padding-left: 20px;
    }
    .col-9 {
      flex: 0 0 75%;
    }
    .col-10 {
      flex: 0 0 83.33%;
    }
    .col-11 {
      flex: 0 0 50%;
    }
    .col-12 {
      flex: 0 0 100%;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
    .heading-5 {
      height: 30px;
    }
    .ratings {
      font-size: 12px;
      margin-bottom: 15px;
      display: block;
      margin-bottom: 0;
      > span {
        display: block;
        margin-left: 0;
        margin: 15px 0;
      }
    }
    .duration {
      font-size: 12px;
      font-weight: 600;
    }
    .description {
      font-size: 12px;
      margin-bottom: 20px;
      min-height: 28px;
    }
  }
}

.dashboard {
  padding: 0 20px;
  .row {
    .col {
      margin-bottom: 20px;
    }
  }
  .user-details {
    padding: 20px;
    .name {
      color: #00a0ba;
      font-size: 25px;
      font-weight: 500;
    }
    .form-input {
      input {
        background-color: #f8f8f8;
        margin-top: 10px;
      }
      address {
        background-color: #ffffff;
        border: #0e0d0d;
        margin-top: 10px;
      }
    }
    .section {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    .btn {
      margin-left: 5px;
      float: right;
    }
    .btn-outline {
      background: none;
      border: 2px solid #00a0ba;
      color: #00a0ba;
    }
    .form-select {
      margin-top: 10px;
    }
    .row {
      margin-bottom: 15px;
    }
  }
  .update-profile {
    margin-top: 10px;
  }
  .user-details {
    .tel-input {
      background-color: #f8f8f8;
      border: 0px solid #00a0ba;
      width: 434px;
    }
    .dropdown {
      background-color: #f8f8f8;
      border: 0px solid #00a0ba;
    }
    .tel-input-dropdown {
      margin-top: 10px;
    }
  }
}

/* ------------------------------- */

.agent-orders {
  .tabs {
    .nav-tabs .nav-item .nav-link {
      cursor: pointer;
      border-color: transparent;
      border-top-width: 3px;
      &.active {
        border-left-color: #eaeaea;
        border-right-color: #eaeaea;
        border-top-color: #00a0ba;
        background: #fff;
      }
    }
    .tab-content .tab-pane.active {
      background-color: #fff;
      &::before {
        content: "";
        height: 2px;
      }
    }
  }
  .agent-orders-list {
    padding: 20px;
    .orders-list-header {
      padding-bottom: 20px;
      .row {
        background: #fff;
        padding: 20px 0;
        border-radius: 5px;
        box-shadow: 0 0 5px #ececec;
        border-bottom: 4px solid #edae1f;
        font-weight: 500;
        @media (max-width: 768px) {
          .col {
            margin-bottom: 10px;
          }
        }
      }
    }
    .orders-list-row {
      background: #ffffff;
      margin-bottom: 15px;
      padding: 20px 0 15px;
      border-radius: 5px;
      box-shadow: 0 0 5px #ececec;
      align-items: center;
      .tooltip-trigger {
        text-decoration: none !important;
      }
      @media (max-width: 768px) {
        .col {
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* modal */

.acc-modal {
  .modal-content {
    max-width: 1000px;
    height: auto;
    padding: 0;
  }
  .acc-container {
    width: 100%;
    height: 100%;
    display: flex;
    .acc-content {
      flex: 0 0 100%;
      padding: 10px 30px;
      align-items: center;
      align-content: center;
      display: flex;
      .acc-body {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        .row {
          display: flex;
          flex-wrap: wrap;
          /* height: 65px; */
          margin-right: -15px;
          margin-left: -15px;
          padding-bottom: 0px;
          margin-bottom: 5px;
          .input {
            padding-top: 10px;
            padding-bottom: 10px;
          }
          .inside-row {
            margin-left: 0px;
            .col-2-margin {
              margin-top: 13px;
            }
          }
          &.eq-height .col {
            flex: 1;
          }
        }
        .col {
          position: relative;
          width: 100%;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          flex-basis: 0;
          flex-grow: 1;
          .file-input {
            padding-right: 181px;
          }
          .file-upload {
            padding: 5px 10px;
            background: #edae1f;
            border: 1px solid #edae1f;
            position: relative;
            color: #fff;
            font-size: 15px;
            border-radius: 2px;
            text-align: center;
            float: left;
            cursor: pointer;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 10px;
          }
          .file-name {
            padding-top: 35px;
            color: #edae1f;
          }
          .input-file {
            position: absolute;
            z-index: 1000;
            opacity: 0;
            cursor: pointer;
            right: 0;
            top: 0;
            height: 100%;
            font-size: 15px;
            width: 100%;
          }
          .fileChosenInput {
            padding-right: 160px;
          }
        }
        .col-1 {
          flex: 0 0 8.33%;
        }
        &.col-2 {
          flex: 0 0 16.66%;
        }
        .col-3 {
          flex: 0 0 24.99%;
        }
        .col-4 {
          flex: 0 0 33.32%;
        }
        .col-5 {
          flex: 0 0 41.65%;
        }
        .col-6 {
          flex: 0 0 50%;
        }
        .col-7 {
          flex: 0 0 58.33%;
        }
        .col-8 {
          flex: 0 0 66.66%;
        }
        .col-9 {
          flex: 0 0 75%;
        }
        .col-10 {
          flex: 0 0 83.33%;
        }
        .col-11 {
          flex: 0 0 50%;
        }
        .col-12 {
          flex: 0 0 100%;
        }
        .btn-outline {
          background: none;
          border: 2px solid #00a0ba;
          color: #00a0ba;
        }
        .btn {
          margin-left: 5px;
          float: right;
        }
        .heading {
          color: #00a0ba;
          font-weight: 500;
          font-size: 30px;
          letter-spacing: 1px;
          margin-bottom: 15px;
          text-align: left;
        }
        .sub-heading {
          color: #2d2d2d;
          font-size: 14px;
          margin-bottom: 30px;
          text-align: left;
        }
        .form-group {
          text-align: left;
          label {
            font-size: 12px;
            margin-bottom: 10px;
            display: block;
            font-weight: 500;
          }
          .warning {
            padding: 10px 20px;
            margin-bottom: 15px;
            display: block;
            font-size: 12px;
            color: #856404;
            background-color: #fff3cd;
            border-color: #ffeeba;
          }
        }
        input {
          border: 0px solid #e8e8e8;
          border-radius: 3px;
          padding: 13px 20px;
          background-color: #f8f8f8;
        }
        .alert {
          margin-top: 20px;
        }
        .secondary-link {
          text-align: left;
          font-size: 13px;
          margin: 25px 0 0;
          color: #868686;
          font-weight: 500;
          span {
            color: #00a0ba;
            font-weight: 900;
            letter-spacing: 1px;
            margin-left: 10px;
            cursor: pointer;
          }
        }
        .button-container {
          margin-top: 20px;
          .btn {
            width: 100%;
            font-size: 12px;
            margin-left: 5px;
            float: right;
          }
          .button-group {
            display: flex;
            margin-top: 20px;
            .btn {
              margin-right: 10px;
              i {
                margin-right: 10px;
              }
              &:last-child {
                margin-right: 0;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.agent-information {
  background-color: #ffffff;
  padding: 50px;
}
