@import "~styles/colors";

.blog-list-item {
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  .featured-image {
    flex: 0 0 30%;
    margin-bottom: -4px;
  }
  .blog-content {
    padding: 0 30px;
    flex: 0 0 70%;
    .detail-block {
      align-items: center;
    }
    .blog-active-from {
      color: #bebebe;
      font-size: 13px;
      margin-bottom: 15px;
    }
    .blog-description {
      font-size: 13px;
      color: #000000;
    }
    .blog-title {
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 15px;
      margin-bottom: 15px;
      color: #000000;
    }
    .blog-cta {
      text-align: center;
    }
  }
  @media (max-width: 768px) {
    display: block;
    border-radius: 0;
    .featured-image {
      text-align: center;
      margin-bottom: 20px;
    }
    .blog-content {
      .detail-block {
        display: block;
        text-align: center;
        .blog-description {
          margin-bottom: 20px;
        }
      }
    }
  }
}
