.order-details {
  background: #fff;
  padding: 50px;
  .order-header {
    margin-bottom: 25px;
  }
  .order-details-list {
    .strike-through {
      text-decoration: line-through;
    }
    .accordion {
      .accordion-item {
        .row {
          margin-bottom: 20px;
          .field-heading {
            font-weight: 500;
          }
          .file-download {
            margin-top: 15px;
          }
        }
      }
    }
    .review-buttons {
      margin-top: 15px;
      .btn {
        &:first-child {
          margin-right: 20px;
        }
        &:hover {
          background-color: #00a0ba;
          color: #ffffff;
        }
      }
    }
  }
  .modal {
    .modal-content {
      padding: 50px;
      .feedback-form {
        .form-content {
          h3 {
            margin: 0 0 35px;
            font-size: 22px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .form-action {
    float: right;
    .btn {
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
@media (min-width: 425px) {
  .order-details {
    .order-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
