.need-help-container {
  padding: 0 20px;
  .country-container {
    width: 100%;
    margin-bottom: 50px;
    .country-list {
      display: flex;
      justify-items: center;
      justify-content: space-between;
      margin: 0;
      .country-item {
        list-style-type: none;
        cursor: pointer;
        width: 100px;
        font-weight: 500;
        color: #242323;
      }
      .active {
        color: #00a0ba;
      }
      @media (max-width: 767px) {
        display: block;
        .country-item {
          width: 100%;
          text-align: center;
          padding: 10px 20px;
        }
      }
    }
  }
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .side-bar-container {
    .side-title {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .side-details {
      margin-bottom: 50px;
    }
  }
}
