.detail-content {
  .advantage-item {
    line-height: 30px;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      padding-bottom: 30px;
    }
    .icon {
      text-align: center;
      display: inline-block;
    }
    i {
      display: inline-block;
      margin-right: 15px;
      font-size: 30px;
      color: #00a0ba;
      text-align: center;
      align-content: center;
    }
    @media (max-width: 767px) {
      text-align: center;
      .icon {
        display: block;
        margin-bottom: 15px;
      }
    }
  }
  .cta {
    @media (max-width: 768px) {
      text-align: center;
    }
  }
}
