.star-rating-input {
  a {
    color: #555555;
    font-size: 24px;
    &.star-rating-clear {
      text-decoration: underline;
    }
    &.on {
      color: #edae1f;
    }
    &.suggested {
      color: #edae1f;
    }
  }
}
