@import "~styles/colors";
.auth-modal {
  .modal-content {
    max-width: 1000px;
    height: auto;
    padding: 0;
  }
  .auth-container {
    width: 100%;
    height: 100%;
    display: flex;
    .auth-content {
      flex: 0 0 65%;
      padding: 40px 60px;
      align-items: center;
      align-content: center;
      display: flex;
      .auth-body {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        .heading {
          color: $color2;
          font-weight: 500;
          font-size: 30px;
          letter-spacing: 1px;
          margin-bottom: 15px;
        }
        .sub-heading {
          color: #2d2d2d;
          font-size: 14px;
          margin-bottom: 30px;
        }
        .form-group {
          text-align: left;
          label {
            font-size: 12px;
            margin-bottom: 10px;
            display: block;
            font-weight: 500;
          }
          .warning {
            padding: 10px 20px;
            margin-bottom: 15px;
            display: block;
            font-size: 12px;
            color: #856404;
            background-color: #fff3cd;
            border-color: #ffeeba;
          }
        }
        input {
          border: 1px solid #e8e8e8;
          border-radius: 3px;
          padding: 13px 20px;
        }
        .alert {
          margin-top: 20px;
        }
        .secondary-link {
          text-align: left;
          font-size: 13px;
          margin: 25px 0 0;
          color: #868686;
          font-weight: 500;
          span {
            color: $color2;
            font-weight: 900;
            letter-spacing: 1px;
            margin-left: 10px;
            cursor: pointer;
          }
        }
        .button-container {
          margin-top: 20px;
          .btn {
            width: 100%;
            font-size: 12px;
            text-transform: uppercase;
          }
          .button-group {
            display: flex;
            margin-top: 20px;
            .btn {
              margin-right: 10px;
              i {
                margin-right: 10px;
              }
              &:last-child {
                margin-right: 0;
                margin-left: 10px;
              }
            }
          }
        }
        .footer-links {
          margin-top: 25px;
          a {
            text-decoration: none;
            font-size: 12px;
            color: #00a0ba;
            padding: 0 10px;
            border-right: 1px solid #555555;
            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }
    .auth-image {
      flex: 0 0 35%;
    }
  }
}
@media (max-width: 768px) {
  .auth-modal {
    &.show-modal {
      display: block;
      & > button {
        display: none;
      }
      .modal-content {
        height: 100vh;
        overflow-x: scroll;
        margin: 0;
        width: 100%;
        .modal-close {
          display: none;
        }
        .auth-container {
          display: block;
          .auth-content {
            padding: 20px;
          }
        }
      }
      .modal-close {
        top: 50px;
      }
    }
  }
}
