@import "~styles/colors";

header {
  background-color: #00a1b6;
  padding: 0 15px;
  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .site-logo {
      display: inline-block;
      padding: 20px 0;
      button {
        display: none;
      }
      img {
        max-width: 150px;
      }
    }
    .menu {
      nav {
        ul {
          list-style: none;
          margin-bottom: 0;
          display: flex;
          align-items: center;
          margin: 0 -15px;
          li {
            display: inline-block;
            font-size: 14px;
            padding: 0 15px;
            a {
              color: #fff;
              text-decoration: none;
              text-transform: uppercase;
              font-weight: 500;
            }
          }
          .country-selector {
            color: #ffffff;
            font-size: 12px;
            cursor: pointer;
            img {
              max-width: 25px;
              vertical-align: middle;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .call-to-action {
      .btn {
        padding: 10px 20px;
        text-transform: uppercase;
        letter-spacing: 0;
      }
    }
  }
  @media (max-width: 768px) {
    .container {
      .menu {
        display: none;
      }
    }
    & > div {
      .site-logo {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        button {
          display: block;
          padding: 5px;
          border-radius: 50%;
          color: #ffffff;
          border: 2px solid #fff;
          background: none;
          cursor: pointer;
          width: 35px;
          height: 35px;
        }
      }
    }

    &.open {
      width: 100%;
      background: #fff;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 100000;
      padding: 0;
      .container {
        display: block;
        .site-logo {
          width: 100%;
          display: flex;
          background-color: #00a1b6;
          align-items: center;
          padding: 20px;
          justify-content: space-between;
        }
        .menu {
          padding: 30px 0;
          display: block;
          nav {
            ul {
              flex-direction: column;
              padding: 0;
              li {
                display: block;
                padding: 10px;
                width: 100%;
                text-align: center;
                a {
                  color: #000000;
                }
                .country-selector {
                  color: #000000;
                }
                .call-to-action {
                  .btn {
                    border-color: #00afc2;
                    color: #00afc2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.compare-cta-button {
  position: fixed;
  bottom: 0;
  right: 45px;
  z-index: 10000;
  a {
    &.btn {
      border-radius: 5px 5px 0 0;
      background-color: $color2;
      border-color: $color2;
      span {
        background-color: #fff;
        color: $color2;
        padding: 3px 5px;
        border-radius: 50%;
        font-size: 10px;
        margin-left: 10px;
      }
    }
  }
}
