@import "~styles/colors";

.page-container {
  padding: 0 20px;
  .tag-search-container {
    @media (min-width: 768px) {
      display: flex;
      align-items: flex-start;
    }

    .tag-container {
      @media (min-width: 768px) {
        width: calc(100% - 380px);
      }
      button {
        margin: 5px 5px;
        border: 2px solid #00a0ba;
      }
    }
    .search-container {
      display: flex;
      justify-content: space-between;
      @media (min-width: 768px) {
        width: 380px;
      }
      @media (max-width: 768px) {
        margin-top: 25px;
      }
      .search-bar {
        display: flex;
        align-items: center;
        align-content: flex-start;
        .form-input {
          margin-bottom: 0;
        }
        input {
          background-color: #f8f8f8;
          padding: 11px 20px;
          border-radius: 5px 0 0 5px;
        }
        button {
          border-radius: 0 5px 5px 0;
          background-color: #edae1f;
          border-color: #edae1f;
          color: #fff;
          padding: 10px 12px;
          font-size: 10px;
        }
      }
      .layout-switcher {
        display: flex;
        align-items: center;
        align-content: flex-end;
        min-width: 110px;
        @media (max-width: 420px) {
          .layout-text {
            display: none;
          }
        }
      }
      .toggle-view {
        .toggle-button {
          display: inline-block;
          button {
            padding: 8px 8px;
            background: none;
            border: none;
            color: $color2;
            margin-left: 15px;
            box-shadow: none;
            i {
              font-size: 15px;
            }
          }
          &.active {
            button {
              background-color: $color2;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  .video-container {
    h3 {
      margin-top: 50px;
    }
    .social-links-container {
      display: inline-block;
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
      .social-links {
        display: flex;
        padding-left: 0px;
        .social-link-item {
          list-style-type: none;
          position: relative;
          color: #ffffff;
          font-size: 15px;
          cursor: pointer;
        }
        li {
          padding: 7px 7px;
          border-radius: 5px;
          position: relative;
          overflow: hidden;
          max-width: 150px;
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          margin-right: 10px;
        }
        .facebook {
          background-color: #3b5998;
        }
        .google {
          background-color: #d0422a;
        }
        .linkedin {
          background-color: #007bb5;
        }
        .twitter {
          background-color: #00acee;
        }
      }
    }
    .promo-video {
      margin-top: 50px;
    }
  }
  .blog-view {
    margin-top: 50px;
    .button-group {
      margin: 20px 0px;
      display: flex;
      justify-content: space-between;
    }
  }
}
