@import "~styles/colors";

footer {
  background-color: #1b1b1b;
  color: #777777;
  font-size: 13px;
  padding: 50px 15px;
  line-height: 25px;
  a {
    color: #777777;
  }
  h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0px 30px;
  }
  span {
    color: #ffffff;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .social-links {
    a {
      color: #ffffff;
      font-size: 15px;
    }
    li {
      padding: 7px 17px;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      max-width: 150px;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      i {
        margin-right: 5px;
      }
      span {
        background: #fff;
        color: #000;
        padding: 7px 5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 5px;
        min-width: 40px;
        text-align: center;
      }
    }
    .facebook {
      background-color: #3b5998;
    }
    .twitter {
      background-color: #00abf1;
    }
    .google {
      background-color: #d0422a;
    }
    .pinterest {
      background-color: #cc2127;
    }
    .linkedin {
      background-color: #007bb5;
    }
    .instagram {
      background-color: #c32aa3;
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      .row {
        .col {
          text-align: center;
          margin-bottom: 35px;
          .social-links {
            li {
              margin: 0 auto 20px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

.footer-note {
  background-color: #141414;
  padding: 20px;
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 14px;
    img {
      max-height: 40px;
    }
  }
  @media screen and (max-width: 425px) {
    div {
      display: block;
      img {
        display: block;
        margin: 0 auto 20px;
      }
    }
  }
}
