.help-card-container {
  background-color: #f8f8f8;
  padding: 20px 10px;
  max-width: 46%;
  flex: 0 0 46%;
  margin: 2%;
  overflow: hidden;
  word-break: break-all;
  @media (max-width: 540px) {
    max-width: 100%;
    flex: 0 0 100%;
    margin: 10px 0;
  }
  .help-card-title {
    font-size: 16px;
    font-weight: 1000;
    margin-bottom: 10px;
  }
  .help-card-Data {
    font-size: 14px;
    font-weight: 300;
    p {
      margin-top: 10px;
    }
    a {
      color: #00a0ba;
      font-weight: 500;
    }
  }
}
