.faq-container {
  margin-left: 10%;
  width: 80%;
  .category-container {
    width: 90%;
    h2 {
      margin-top: 0;
    }
    .search-container {
      position: relative;
      i {
        position: absolute;
        z-index: 1;
        top: calc(50% - 10px);
        left: 14px;
      }
      .auto-complete-input {
        input {
          width: 100%;
          font-weight: 500;
          font-size: 14px;
          padding: 15px 20px 15px 40px;
          width: 100%;
          box-shadow: none;
          border: none;
          background-color: #f8f8f8;
        }
      }
      button {
        position: relative;
        width: 40px;
        padding: 0;
      }
    }
    .country-item {
      cursor: pointer;
    }
    ul {
      padding-left: 0px;
      li {
        padding-top: 10px;
      }
    }
    .active {
      color: #00a0ba;
    }
  }
  h1 {
    margin-top: 0;
  }
}
