@import "~styles/colors";
.course-booking-page {
  .course-details-columns {
    align-items: flex-start;
    padding: 0 20px;
    .steps-container {
      @media (max-width: 1280px) {
        .step-header {
          display: block;
          .step {
            margin-bottom: 20px;
            overflow: initial;
            &:not(:last-child) {
              .step-icon {
                position: relative;
                &:after {
                  content: "";
                  width: 2px;
                  background: #e8e8e8;
                  height: 15px;
                  display: block;
                  position: absolute;
                  top: 31px;
                  left: 13px;
                }
              }
            }
            .step-icon {
              margin-left: 0;
            }
            .step-header-content {
              &:after {
                background: none;
              }
            }
          }
        }
      }
    }
    .sidebar-container {
      position: -webkit-sticky;
      position: sticky;
      top: 2rem;
    }
  }

  .section {
    &:first-child {
      margin-top: 0;
    }
  }
  .booking-details {
    margin-bottom: 30px;
    .booking-detail-list {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 5px;
        font-size: 13px;
        span {
          font-weight: 600;
        }
        .schedule {
          display: inline-block;
          margin-right: 10px;
          font-weight: 600;
          margin-bottom: 5px;
          span {
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .course-fees {
    list-style: none;
    .course-fee-item {
      display: flex;
      margin-bottom: 10px;
      font-size: 14px;
      .course-fee-title {
        flex: 2;
      }
      .course-fee {
        flex: 1;
        font-weight: 900;
        text-align: right;
        span {
          font-weight: 100;
          font-size: 12px;
        }
      }
      &.regular-price {
        .course-fee {
          color: $color1;
          text-decoration-line: line-through;
        }
      }
      &.total {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #f8f8f8;
        font-size: 17px;
        font-weight: 900;
        .course-fee {
          color: $color2;
        }
      }
    }
  }

  .booking-course-duration {
    margin-top: 15px;
    .duration-selector {
      margin-bottom: 15px;
      .form-errors {
        list-style: none;
        text-align: left;
        font-size: 12px;
        padding: 10px 0 0;
        li {
          padding-bottom: 10px;
          color: #cc6363;
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
    .duration-selector-title {
      font-weight: 600;
      line-height: 43px;
    }
    .duration-selector-content {
      line-height: 28px;
      &.duration-end-date {
        line-height: 43px;
        display: flex;
        align-items: center;
      }
      .icon-prefix {
        margin-right: 20px;
        display: inline-block;
      }
      span {
        font-size: 12px;
      }
      .form-group {
        width: 250px;
        display: inline-block;
        .selected-dropdown {
          display: inline-block;
          width: 100%;
        }
      }
      .datepicker-container {
        max-width: 300px;
      }
    }
    .datepicker-input {
      margin-bottom: 0;
    }
    .duration-selector-date {
      font-size: 12px;
      font-weight: 500;
      margin-left: 20px;
    }
    .note {
      font-size: 11px;
      margin-top: 20px;
    }
  }

  .radio-button {
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 19px;
  }

  .booking-course-travel-details {
    .booking-course-travel-details-section {
      margin-bottom: 40px;
    }
  }

  .input-group {
    margin: 10px 0;
    label {
      margin-bottom: 10px;
      display: block;
      font-size: 13px;
    }
    img {
      max-width: 200px;
      max-height: 200px;
      width: auto;
      height: auto;
      margin: 0 auto;
    }
    .form-input {
      #passportImage {
        background: #f8f8f8 !important;
        padding: 12px 20px;
        width: 100%;
      }
      input {
        background: #f8f8f8;
        padding: 15px 20px;
      }
      .tel-input {
        width: 100%;
        background: #f8f8f8;
        border: 0px solid #00a0ba;
        border-radius: 0px;
        padding-left: 48px;
      }
    }
    .form-select {
      background: #f8f8f8;
    }
  }

  .form-submit {
    margin: 30px -15px;
  }

  .date-of-birth {
    .form-select {
      min-width: auto;
      display: inline-block;
      .selected-dropdown {
        span {
          padding: 0 10px;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .container {
      max-width: calc(100% - 40px);
    }
  }
}

.button-block {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.button-single {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.progress-bar-container {
  width: 100%;
  .progress-bar-block {
    counter-reset: step;
    display: flex;
    margin: 0;
    .progress-bar-elements {
      list-style-type: none;
      flex: 0 0 20%;
      position: relative;
    }
    .progress-bar-elements:before {
      content: counter(step);
      color: #f8f8f8;
      counter-increment: step;
      width: 25px;
      height: 25px;
      line-height: 25px;
      background-color: #999;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      margin-right: 10px;
    }
    .active:before {
      background-color: rgb(17, 102, 230);
    }
  }
}
.booking-course-accommodation {
  .homestay-notes {
    font-size: 13px;
  }
  .row {
    margin-bottom: 15px;
  }
  .homestay-duration {
    padding-top: 30px;
    .homestay-date-label {
      padding-top: 15px;
      padding-bottom: 10px;
    }
    .homestay-date-picker {
      .form-errors {
        list-style: none;
        text-align: left;
        font-size: 12px;
        padding: 10px 0 0;
        li {
          padding-bottom: 10px;
          color: #cc6363;
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
  .homestay-preferences {
    padding-top: 30px;
    padding-bottom: 30px;
    .homestay-preferences-label {
      padding-top: 15px;
      padding-bottom: 10px;
    }
  }
}
.payment-scheme-container {
  padding: 30px 0px;
}
.payment-method-container {
  padding: 30px 0px;
}
