@import "~styles/colors";

@mixin label {
  color: #fff;
  border-radius: 5px;
  display: inline-block;
}
.course-card {
  background-color: #ffffff;
  color: #000000;
  border-radius: 3px;
  overflow: hidden;
  height: 100%;
  .card-image {
    min-height: 180px;
    padding: 10px;
    position: relative;
    .location {
      position: absolute;
      bottom: 5px;
      right: 10px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 900;
      span {
        font-size: 15px;
      }
    }
    .price {
      @include label;
      background: rgba(0, 0, 0, 0.4);
      padding: 10px;
      font-size: 12px;
    }
    .is-eligible {
      @include label;
      padding: 6px 20px;
      background-color: $color1;
      float: right;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 10px;
      text-align: center;
    }
  }
  .card-body {
    padding: 30px 20px 25px;
    .heading-5 {
      height: 63px;
    }
    .ratings {
      font-size: 12px;
      margin-bottom: 15px;
      display: block;
      margin-bottom: 0;
      & > span {
        display: block;
        margin-left: 0;
        margin: 15px 0;
      }
    }
    .duration {
      font-size: 12px;
      font-weight: 600;
    }
    .description {
      font-size: 12px;
      margin-bottom: 20px;
      min-height: 28px;
    }
  }
}
