.datepicker-container {
  position: relative;
  button {
    background: none;
  }
  .datepicker-input-container {
    position: relative;
    background: #f8f8f8;
    .duration-icon {
      position: absolute;
      top: 12px;
      left: 16px;
    }
  }
  .datepicker-input {
    input {
      width: 100%;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      background: none;
      padding: 12px 20px 12px 45px;
    }
    &.has-errors {
      input {
        border-color: #cc6363 !important;
        box-shadow: 0 0 2px 1px #ffa3a3;
      }
    }
    .form-errors {
      list-style: none;
      text-align: left;
      font-size: 12px;
      padding: 10px 0 0;
      li {
        padding-bottom: 10px;
        color: #cc6363;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  .datepicker {
    position: absolute;
    top: 50px;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 10px 40px 0 rgba(16, 36, 94, 0.2);
    margin-top: 5px;
    &-content {
      padding: 12px 8px;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      flex-grow: 1;
    }

    .styled-calendar {
      display: flex;
      justify-content: stretch;

      &.selected-dates-left {
        flex-direction: row;
      }

      &.selected-dates-right {
        flex-direction: row-reverse;
      }

      &.selected-dates-top {
        flex-direction: column;
      }

      &.selected-dates-bottom {
        flex-direction: column-reverse;
      }
    }

    .calendar-header {
      .close-datepicker {
        border-radius: 50%;
        padding: 5px;
        background-color: #cacaca;
        color: #fff;
        position: absolute;
        top: -15px;
        right: -15px;
        width: 25px;
      }
      .calendar-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1em;
        margin-bottom: 20px;
        .month-toggler {
          text-align: center;
          font-size: 18px;
          background: #00afc2;
          color: #fff;
          border: none;
          border-radius: 50%;
          padding: 4px;
          width: 30px;
        }
        .displayed-month {
          font-size: 13px;
          font-weight: 700;
          letter-spacing: 1px;
        }
      }
    }

    .month {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      text-align: center;
    }

    .week,
    .week-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      text-align: center;

      .day {
        background: none;
        flex-grow: 1;
        width: 14.28%;
        margin: 0;
        border: 0;
        padding: 0;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .week-header {
      opacity: 0.8;
    }

    .week {
      height: 34px;
      margin-bottom: 2px;

      .day {
        position: relative;
        color: #555;
        position: relative;
        text-decoration: none;
        font-weight: 400;
        font-size: 11px;
        &.today {
          font-weight: bold;
          color: #edae1f;
        }

        &.disabled {
          background: #f3f3f3;
          color: #c1c1c1;
          cursor: default;
          &:hover {
            background: #555;
          }
        }

        &.blank {
          &:hover {
            background: none;
          }
        }

        &:hover,
        &.selected {
          color: #ffffff;
          background: #00aec5;
        }
      }
    }

    .selected-dates-list {
      flex-grow: 1;
      font-weight: bold;
      background-color: #555;
      color: #ffffff;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      overflow-y: scroll;

      .selected-date {
        padding: 4px;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      }

      &.left,
      &.right {
        flex-direction: column;
        min-width: 100px;
        max-height: 100%;
      }

      &.top,
      &.bottom {
        max-height: 300px;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
    }
  }
}
