.sort-button {
  border: 2px solid #b9b9b9;
  border-radius: 5px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  align-content: center;

  .btn {
    color: #b9b9b9;
    font-weight: 400;
    font-size: 11px;
    display: flex;
    align-items: center;
    align-content: center;
    .sort {
      margin-left: 10px;
      position: relative;
      height: 14px;
      width: 15px;
      display: block;
      i {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .close-button {
    border: none;
    padding: 3px 4px;
    margin-right: 5px;
    border-radius: 50%;
    background: transparent;
    i {
      margin: 0;
      font-size: 11px;
      color: #edae1f;
      border: none;
    }
  }
  &.active {
    border-color: #edae1f;
    .btn {
      color: #edae1f;
    }
    .sort {
      i {
        color: #dcdcdc;
        &:nth-child(2) {
          color: #edae1f;
        }
      }
    }
  }
}
