.hero-slider {
  margin-top: -90px;
  text-align: center;
  background-color: #00a0ba;
  display: flex;
  align-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 90px;
  background: linear-gradient(rgba(0, 160, 186, 0.6), rgba(0, 160, 186, 0.6)),
    center / cover no-repeat url("./hero-slider-image.jpg");
  .hero-subheading {
    font-size: 25px;
    display: block;
    color: #ffffff;
    max-width: 90%;
    margin: 0 auto 45px;
  }
  .hero-heading {
    font-size: 40px;
    font-weight: 900;
    @extend .hero-subheading;
  }
  .search-box {
    margin-bottom: 45px;
    padding: 0 15px;
    .row {
      align-items: flex-end;
    }
    .form-group {
      text-align: left;
      label {
        color: #fff;
        font-size: 13px;
        display: block;
        margin-bottom: 10px;
      }
    }
    .search-button {
      @media screen and (min-width: 768px) {
        padding: 0 15px;
      }
      button {
        width: 100%;
        padding: 11px 25px;
        text-transform: uppercase;
      }
    }
  }
  @media screen and (max-width: 768px) {
    display: block;
    padding: 110px 20px 40px;
    height: auto;
    .hero-subheading {
      font-size: 18px;
      line-height: 1.5;
    }
    .hero-heading {
      font-size: 25px;
    }
    .search-box {
      .row {
        display: block;
        & > div {
          margin-bottom: 20px;
        }
      }
    }
  }
}
.expore-section {
  a {
    display: block;
  }
  .image-card {
    flex: 1;
  }
}
.feature-classes-section {
  padding: 80px 0;
  color: #ffffff;
  & > div {
    margin: 0 auto;
  }
  .heading-1 {
    position: relative;
    padding-bottom: 15px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 140px;
      height: 5px;
      background-color: #ffffff;
    }
  }
}
.courses-all-around-section {
  .heading-3 {
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .country-card {
    text-align: center;
    img {
      max-width: 100px;
      max-height: 45px;
    }
    a {
      color: #000000;
    }
    span {
      display: block;
      margin-top: 10px;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 12px;
    }
  }
  @media (max-width: 1024px) {
    .section-title-container {
      flex: 0 0 100%;
      margin-bottom: 25px;
    }
    .section-body-container {
      flex: 0 0 100%;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 0 30px;
    .country-card {
      margin-bottom: 25px;
    }
    .heading-3 {
      text-align: center;
      line-height: 1.5;
    }
  }
}
.what-people-saying-section {
  padding: 80px 15px;
  margin: 0 auto;
  .reviews-container {
    display: flex;
    @media (max-width: 992px) {
      overflow-y: scroll;
      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }

      &::-webkit-scrollbar:horizontal {
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid #f8f8f8;
        background-color: rgba(0, 0, 0, 0.5);
      }

      .review-card {
        min-width: 240px;
      }
    }
  }
  .view-more-container {
    display: flex;
    justify-content: space-around;
  }
}

.most-popular-countries-section {
  .country-row {
    margin-bottom: 35px;
    align-items: center;
    .city-row {
      &:first-child {
        margin-bottom: 25px;
      }
    }
  }
}
.has-margin-bottom {
  margin-bottom: 30px;
}
.webp {
  .hero-slider {
    background: linear-gradient(rgba(0, 160, 186, 0.6), rgba(0, 160, 186, 0.6)),
      center / cover no-repeat url("./hero-slider-image.webp");
  }
}
.promo-video {
  .video-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 20px;
  }
}
