.steps-container {
  .step-header {
    width: 100%;
    display: flex;
    .step {
      flex: 1 1;
      overflow: hidden;
      display: flex;
      align-items: center;
      .step-header-content {
        position: relative;
        color: #adadad;
        &:after {
          position: absolute;
          top: 12px;
          left: calc(100% + 15px);
          display: block;
          width: 9999px;
          height: 1px;
          background: #e8e8e8;
          content: "";
        }
      }
      .step-icon {
        border-radius: 50%;
        border: 1px solid #00aedb;
        padding: 6px 9px;
        line-height: 1;
        color: #00aedb;
        width: 30px;
        text-align: center;
        display: block;
        font-weight: 600;
        margin: 0 20px;
        i {
          font-size: 11px;
        }
      }
      &.current {
        .step-icon {
          background-color: #00aedb;
          color: #ffffff;
        }
        .step-header-content {
          color: #464646;
        }
      }
      &.done {
        .step-icon {
          background: #00aedb;
          color: #ffffff;
          .icon {
            color: #ffffff;
            line-height: 10px;
            font-size: 12px;
          }
        }
        .step-header-content {
          color: #00aedb;
          &:after {
            background: #00aedb;
          }
        }
      }
      &:first-child {
        .step-icon {
          margin-left: 0;
        }
      }
      &:last-child {
        flex: none;
      }
    }
  }
  .step-content {
    padding: 70px 0px;
  }
  .step-nav {
    margin-top: 70px;
  }
}
