.breadcrumb {
  list-style: none;
  li {
    font-weight: 900;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    span,
    a {
      text-decoration: none;
      color: #000000;
      padding: 0 10px;
    }
    &:last-child {
      span {
        color: #ffffff;
      }
    }
    &:not(:last-child):after {
      content: "/";
    }
  }
}
